<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lxgs.cms.dao.AgreementTemplateDao" >
    <resultMap id="getMap" type="com.lxgs.cms.entity.AgreementTemplateManage" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="page_id" property="pageId" jdbcType="VARCHAR" />
        <result column="use_type" property="useType" jdbcType="VARCHAR" />
        <result column="agreement_title" property="agreementTitle" jdbcType="VARCHAR" />
        <result column="agreement_url" property="agreementUrl" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="delete_flag" property="deleteFlag" jdbcType="TINYINT" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, page_id, use_type, agreement_title, agreement_url, create_time, update_time, delete_flag
    </sql>

    <!-- 创建协议模板 -->
    <insert id="createAgreementTemplate" parameterType="com.lxgs.cms.entity.AgreementTemplateManage" >

        INSERT  INTO
          `t_agreement_template_manage` (`page_id`,`use_type`,`agreement_title`,`agreement_url`,`create_time`,`update_time`,`delete_flag`)
        VALUES
        (#{pageId,jdbcType=VARCHAR}, #{useType,jdbcType=VARCHAR}, #{agreementTitle,jdbcType=VARCHAR},
        #{agreementUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP},
        #{deleteFlag,jdbcType=TINYINT});
    </insert>

    <!-- 删除协议模板 -->
    <update id="deleteAgreementTemplate" parameterType="java.lang.Integer" >
      UPDATE t_agreement_template_manage set delete_flag =1 where id = #{id,jdbcType=INTEGER}
    </update>

    <!-- 根据协议模板标题查询协议模板是否存在  -->
    <select id="queryByAgreementTitle" parameterType="java.lang.String" resultMap="getMap">
        select
        <include refid="Base_Column_List" />
        FROM t_agreement_template_manage where agreement_title = #{agreementTitle,jdbcType=VARCHAR} ;
    </select>

    <!-- 根据主键id 查询协议模板是否存在 -->
    <select id="queryById" parameterType="java.lang.Integer" resultMap="getMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM  t_agreement_template_manage
        where id = #{id,jdbcType=INTEGER} ;
    </select>

    <!-- 协议模板列表 -->
    <select id="queryAgreementTemplate" resultMap="getMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM  t_agreement_template_manage WHERE `delete_flag` =0  ORDER BY  create_time
        <if test="pageStart!=null and pageSize!=null">
            limit #{pageStart},#{pageSize}
        </if>
    </select>

    <!-- 查询总数-->
    <select id="queryAgreementTemplateCount" resultType="java.lang.Integer">
        SELECT count(1) FROM  t_agreement_template_manage WHERE `delete_flag` =0;
    </select>

    <!-- 查询所有 -->
    <select id="getAllAgreement" resultMap="getMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM  t_agreement_template_manage WHERE `delete_flag` =0  ORDER BY  create_time
    </select>
</mapper>