<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/data/mongo
       http://www.springframework.org/schema/data/mongo/spring-mongo.xsd">


    <aop:config/>
    <!-- enable @AspectJ support with XML based configuration -->
    <aop:aspectj-autoproxy/>
    <context:annotation-config/>
    <!-- 启动包扫描功能，以便注册带有@Controller、@Service、@repository、@Component等注解的类成为spring的bean -->
    <context:component-scan base-package="com.sdxd.cms">
        <context:exclude-filter type="annotation"
                                expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <bean
            class="com.sdxd.framework.spring.property.PropertyPlaceholderConfigurer">
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="locations">
            <list>
                <value>classpath:/spring/conf.properties</value>
            </list>
        </property>
    </bean>

    <!-- Spring托管线程池 -->
    <bean id="threadPoolTaskExecutor"
          class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <!-- 线程池活跃的线程数 -->
        <property name="corePoolSize" value="10"/>
        <!-- 线程池最大活跃的线程数 -->
        <property name="maxPoolSize" value="200"/>
        <!-- 队列的最大容量 -->
        <property name="queueCapacity" value="1000"/>
        <!-- <property name="WaitForTasksToCompleteOnShutdown" value="true" /> -->
    </bean>

    <import resource="classpath:spring/applicationContext-dataSource.xml"/>
<!--     <import resource="classpath:spring/applicationContext-mongo.xml"/> -->
    <import resource="classpath:spring/applicationContext-framework.xml"/>
    <import resource="classpath:spring/dubbo/applicationContext-dubbo-service.xml"/>
    <import resource="classpath:spring/mq/applicationContext-mq.xml"/>
<!--<import resource="classpath:spring/dubbo/applicationContext-dubbo-client.xml"/> -->
    <!-- <import resource="classpath:spring/applicationContext-redis.xml"/> -->

</beans>