<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sdxd.cms.dao.CmsNoticeDao">
    <resultMap id="getMap" type="com.sdxd.cms.entity.CmsNotice">
    </resultMap>


    <select id="getAllOnline" resultMap="getMap">
        SELECT *
        FROM t_cms_notice
        WHERE offline_time  &gt;  #{onlineTime,jdbcType=DATE}
    </select>


    <select id="getAllNotice" resultMap="getMap">
        SELECT *
        FROM t_cms_notice
    </select>

</mapper>