<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
   	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!-- 公共信息 -->
	<!-- 提供方应用信息 -->
	<dubbo:application name="comp-cms-client" owner="${dubbo.application.owner}"/>
	<!-- 注册中心 -->
	<dubbo:registry protocol="${dubbo.registry.protocol}" address="${dubbo.registry.address}" file="${dubbo.registry.file}"/>
	<dubbo:consumer check="${dubbo.consumer.check}" />
	<dubbo:annotation />
	<context:component-scan base-package="com.sdxd.cms">
		<context:include-filter type="annotation" expression="com.alibaba.dubbo.config.annotation.Reference" />
	</context:component-scan>

</beans>